<!doctype html>
<html>
<head>
<title>ng-project</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection"/>
<style>
*{
  padding:0;
  margin:0;
  font-size: 14px;
}
.title{
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.title .back{
  float: left;
}

.title h1{
  display: inline-block;
}

.title .options{
  float: right;
}
</style>
</head>
<body>


<body ng-app="ngApp">
<div id="page">
    <!-- <ui-view>载入中...</ui-view> -->
    <div class="wrap">
      <div class="title">
        <div ng-show="state.header.focusBack" state-back="{{state.header.focusBack}}" data-back="{{state.header.focusBack}}" class="back">back</div>
        <div ng-bind-html-unsafe="expression" class="options" ng-show="state.header.options" ng-bind-html="state.header.options"></div>
        <h1 ng-bind="state.header.title"></h1>
      </div>
        
        <div ui-view></div>

        <a ui-sref="dian">dian(global)</a>  
    </div>

    <div class="count">{{hlen}}</div>
    <div class="cv">{{cv}}</div>
</div>
</script>

<script src="/js/angular/angular/angular.js"></script>
<script src="/js/angular/angular-ui-router/angular-ui-router.js"></script>
<script src="/js/angular/angular-sanitize/angular-sanitize.js"></script>
<script src="http://a.tbcdn.cn/g/mtb/??lib-mtop/1.1.9/mtop.js,lib-login/1.1.2/login.debug.js,lib-login/1.1.2/widget.debug.js"></script>


<script src="/js/controllers/Index.js"></script>
<script src="/js/controllers/Dian.js"></script>
<script src="/js/controllers/Item.js"></script>
<script src="/js/controllers/My.js"></script>
<script src="/js/controllers/MyDetail.js"></script>

<script src="/js/app/service/state.js"></script>
<script src="/js/app/service/crumb.js"></script>

<script src="/js/app/app.js"></script>
</body>
</html>
