<!doctype html>
<html>
<head>
<title>ng-project</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection"/>
</head>
<body>


<body ng-app="ngApp">
<div id="page">
    <!-- <ui-view>载入中...</ui-view> -->
    <div class="wrap">
        <div ui-view></div>

        <a ui-sref="dian">dian(global)</a>  
    </div>
</div>
</script>

<script src="http://g.tbcdn.cn/dd/recommend/1.0.5/libs/??angular/angular.js,angular/angular-ui-router.js"></script>
<script src="http://a.tbcdn.cn/g/mtb/??lib-mtop/1.1.9/mtop.js,lib-login/1.1.2/login.debug.js,lib-login/1.1.2/widget.debug.js"></script>



<script src="/js/controllers/DianCtrl.js"></script>
<script src="/js/controllers/HomeCtrl.js"></script>
<script src="/js/controllers/MyCtrl.js"></script>
<script src="/js/app/app.js"></script>
</body>
</html>
